# 4.8 - Grouping & Aggregating Variables - Contents

1. Find and Replace
2. Finding aggregated means
3. Creating Loyalty Flags
4. Creating Spending Flags

## Step 1 - Importing libraries and dataframes

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'C:\Users\kaymi\OneDrive\Documents\05-2023-Instacart Basket Analysis'

In [3]:
# Import ords_prods_merged
ords_prods_merge =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_updated.pkl'))

In [4]:
# Check columns
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,first order,196,1,0,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Most orders

In [5]:
# Find and replace "first order" with 0 in "days since last order" column
ords_prods_merge['days_since_last_order'].replace('first order', None, inplace=True)

In [6]:
#Check column data type
ords_prods_merge['days_since_last_order'].dtype

dtype('O')

In [7]:
#Change data type to number
ords_prods_merge['days_since_last_order'] = ords_prods_merge['days_since_last_order'].astype('float')

In [8]:
# Check data type
ords_prods_merge['days_since_last_order'].dtype

dtype('float64')

## Step 2 - Find aggregated mean of entire dataframe

In [9]:
# Group by Department ID
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3 - Analyze the results - compare to those of the subset

#### In the subset, only a handful of departments were displayed due to the limited number of rows pulled. On average, the mean of each department ID in the entire dataframe is lower than that of the subset

## Step 4 - Follow the Exercise instructions for creating a loyalty flag

In [10]:
# split the data into groups based on user_id column, apply the transform() function on the "order_number" column, and create a new max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
# Check column was created
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,...,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [12]:
# Derive columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
# Check value counts
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

## Step 5 - Use loyalty flag for analysis

In [16]:
#Check basic statistics
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.778412  1.0  25.0
New customer      7.805500  1.0  25.0
Regular customer  7.802850  1.0  25.0

## Step 6 - Create a spending flag based on average price of orders per user

In [17]:
#Group data on user_id column, apply the transform() function on the "prices" column, and create a new spending column
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Derive columns with loc()
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [19]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [20]:
# Check value counts
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     32313511
High Spender      120701
Name: spending_flag, dtype: int64

In [21]:
# Return only columns desired
ords_prods_merge[['user_id', 'spending_flag', 'prices']].head(20)

    user_id spending_flag  prices
0         1   Low Spender     9.0
1         1   Low Spender     9.0
2         1   Low Spender     9.0
3         1   Low Spender     9.0
4         1   Low Spender     9.0
5         1   Low Spender     9.0
6         1   Low Spender     9.0
7         1   Low Spender     9.0
8         1   Low Spender     9.0
9         1   Low Spender     9.0
10       15   Low Spender     9.0
11       15   Low Spender     9.0
12       15   Low Spender     9.0
13       15   Low Spender     9.0
14       15   Low Spender     9.0
15       19   Low Spender     9.0
16       19   Low Spender     9.0
17       19   Low Spender     9.0
18       21   Low Spender     9.0
19       31   Low Spender     9.0

## Step 7 - Determine Frequent vs Non-Frequent Customers

In [22]:
ords_prods_merge['median_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [23]:
# Check column was created
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,...,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders
0,2539329,1,1,2,8,NaN,196,1,0,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Average orders,9,New customer,8.372059,Low Spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683,Low Spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793,Low Spender,6.0
20,2231262,31,17,3,11,8.0,196,14,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,20,Regular customer,8.137793,Low Spender,6.0
21,2580647,43,6,4,16,4.0,196,9,0,195,...,NaN,Mid-range product,Least busy,Least busy days,Most orders,11,Regular customer,7.444898,Low Spender,10.0
22,2187180,43,9,4,12,3.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Most orders,11,Regular customer,7.444898,Low Spender,10.0
23,2497897,52,1,1,9,NaN,196,4,0,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.408876,Low Spender,8.0
24,1318871,52,2,1,10,7.0,196,5,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.408876,Low Spender,8.0
25,1261384,52,3,1,10,7.0,196,3,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.408876,Low Spender,8.0
26,580568,52,5,2,10,8.0,196,6,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
27,2428073,52,7,2,7,8.0,196,5,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.408876,Low Spender,8.0
28,342306,52,9,1,11,7.0,196,5,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.408876,Low Spender,8.0
29,1520353,52,10,2,10,8.0,196,4,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
30,2542086,52,11,2,9,7.0,196,3,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
31,944694,52,12,1,16,6.0,196,7,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.408876,Low Spender,8.0
32,1268191,52,15,2,11,8.0,196,3,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
33,1122089,52,17,2,10,6.0,196,4,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
34,1498922,52,18,2,10,14.0,196,6,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
35,180919,52,19,3,8,8.0,196,4,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,27,Regular customer,6.408876,Low Spender,8.0
36,2695875,52,21,5,10,30.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.408876,Low Spender,8.0
37,3205960,67,1,3,11,NaN,196,1,0,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
38,970922,67,2,1,15,5.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
39,596585,67,3,1,13,7.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
40,2037087,67,4,2,9,8.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.0
41,2474111,67,5,3,14,8.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
42,1568481,67,6,3,12,7.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
43,2048527,67,8,2,11,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.0
44,2389031,67,9,2,14,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.0
45,2378562,67,10,1,10,6.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
46,1515698,67,11,1,11,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
47,1928050,67,12,2,12,8.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.0
48,1949274,67,13,1,10,6.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
49,551869,67,14,1,9,7.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
50,768572,67,16,4,10,9.0,196,1,1,195,...,NaN,Mid-range product,Least busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
51,150528,67,18,5,16,4.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.0
52,29758,67,19,0,14,9.0,196,2,1,195,...,NaN,Mid-range product,Busiest day,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
53,1558976,67,21,1,9,5.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
54,863974,67,22,1,11,14.0,196,3,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
55,2308399,67,23,1,14,14.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0
56,2759128,81,3,1,9,14.0,196,2,0,195,...,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,7,New customer,8.262963,Low Spender,30.0
57,1812985,81,5,2,20,30.0,196,1,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,7,New customer,8.262963,Low Spender,30.0
58,1889835,82,1,3,15,NaN,196,6,0,195,...,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,19,Regular customer,6.441221,Low Spender,11.5
59,499460,82,3,5,10,5.0,196,2,1,195,...,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer,6.441221,Low Spender,11.5

In [24]:
#Set criteria with loc()
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] > 20, 'frequency_flag'] = 'Non-frequent Customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] > 10) & (ords_prods_merge['median_prior_orders'] <= 20), 'frequency_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [27]:
#Check value counts
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent Customer        21577409
Regular customer          7217134
Non-frequent Customer     3639669
Name: frequency_flag, dtype: int64

## Step 9 - Export as Pickle File

In [29]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_flags_v2.pkl'))